version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: smart_restaurant_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin-postgres-pwd-3
      POSTGRES_DB: smart_restaurant
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: smart_restaurant_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin-dpage-pwd-3
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data: